/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and container */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Table styles */
table {
    width: 80%;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table header styles */

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}




/* Responsive styling */
@media (max-width: 768px) {
    table {
        width: 100%;
        margin: 10px 0;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    h1, h2 {
        font-size: 24px;
    }
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.save-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #218838;
}

.yellow {
    background-color: rgb(255, 255, 0) !important;
}

.red {
    background-color: red !important;
}
